/** Add css rules here for your application. */


/**Legt Style der Ueberschrift h1 fest */
h1 {
  font-size: 1em;
  font-weight: normal;
  color: #3F3F3F;
  margin: 20px 0px 70px;
  text-align: left;
}


/**Positionierung des Bildes der Klasse logo*/
 .logo {
     float:right;
     }

/**Legt Style der Ueberschrift h2 fest */     
h2 {
  font-size: 3em;
  font-weight: bold;
  color: #777777;
  /**margin: 10px 0px 70px;*/
  text-align: center;
	
}

div#Trailer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 80%;
	font-weight: bold;
	text-align: center;
	color: white;
	background: #990000;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
